/****** basic ******/
html, body { border: 0; margin: 0; padding: 0; }
body {font-family:"Trebuchet MS","Segoe UI",Trebuchet,"Bitstream Vera Sans","DejaVu Sans",Verdana,"Verdana Ref",sans serif;color:#696969;background-color:#333; line-height:1.7em;font-size:13px; padding:20px 0 70px 0}
a {color:#000; text-decoration:underline}
a:hover {color:#4AA2F9}
.clear {clear:both}
strong {font-weight:bold; color:#000}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2.6em;line-height:1;margin-bottom:0.5em; text-align:center; color:#fff}
h2 {font-size:2em;margin-top:50px; margin-bottom:0.75em;}
h3 {font-size:1.6em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.6em;line-height:1.25; text-align:center; color:#fff}
h5 {font-size:1.3em;font-weight:bold;margin-top:30px;margin-bottom:10px}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}

ol.alpha li{list-style:upper-alpha}

pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:13px 'andale mono', 'lucida console', monospace;line-height:1.5;}

/****** body ******/
.container { display: block; width: 840px; margin: 0 auto; padding:25px; border: 1px solid #cbcbcb; background-color:#fff; -moz-border-radius:7px; -webkit-border-radius:7px; border:3px solid #ccc}
.top_info {background:#f7f7f7; border:1px solid #e7e7e7}
.doc_credit {width:33%; float:left; background:#f0f0f0;}
.doc_credit div {padding:30px}
.greeting {width:66%; float:right;}
.greeting div {padding:30px 15px 30px 15px}

.footer {width: 890px;margin: 0 auto; text-align:right}
.footer a{color:#fff; text-decoration:none}
.footer a:hover {color:#ccc}

img.code {border: 1px solid #ccc}
