@charset "utf-8";
html,
body { height: 100% }
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background: url('../images/bg_body_left.png') repeat-y scroll left center rgb(234, 234, 234);
    color: rgb(102, 102, 102);
}
#globalmask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 100000;
}
#preloader {
    background: url("../images/preloader.gif") no-repeat 12px 10px #000000;
    font-size: 11px;
    height: 20px;
    color: #fff;
    left: 50%;
    line-height: 20px;
    margin: -20px 0 0 -45px;
    padding: 10px;
    position: fixed;
    text-align: left;
    text-indent: 36px;
    top: 50%;
    width: 100px;
    z-index: 100001;
    opacity: 0.8;
    border-radius: 12px;
}
div.favicon {
    display: none;
    background: url("../images/bg_notify_count.png") no-repeat transparent center;
}
div.humanized-message {
    position: absolute;
    text-align: center;
    width: 70%;
    min-height: 20px;
    background: #000;
    opacity: 0.8;
    color: #fff;
    z-index: 100000;
    padding: 20px;
    font-size: 150%;
    visibility: hidden;
    border-radius: 10px;
}
.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.chat {
    height: 350px;
    width: 225px;
    padding: 0;
    margin: 0;
    overflow-x: visible;
    background: url('../images/bg_left_spacer.png') repeat-x scroll center bottom transparent;
    overflow-y: scroll;
    color: #fff;
    z-index: 500;
}
.chat div.msg {
    margin: 2px 1px;
    border: 1px solid #999;
}
.chat div.msg div.head {
    display: block;
    background-color: #333;
    padding: 2px;
    text-transform: uppercase;
    font-size: 9px;
}
.chat div.msg div.head span { float: right }
.chat div.msg p {
    display: block;
    padding: 0px 2px;
}


.chatpm {
    height: 450px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

#msgpm {
    width: 430px;
    margin: 0 5px 0 5px;
}
.chatpm div.msg {
    margin: 2px 1px;
}
.chatpm div.msg div.head {
    display: block;
    background-color: #333;
    padding: 2px;
    text-transform: uppercase;
    font-size: 9px;
    border-bottom: 0px;
}
.chatpm div.msg div.head span { float: right }
.chatpm div.msg p {
    display: block;
    padding: 0px 2px;
}

.btnusers {
    float: right;
    display: block;
    position: absolute;
    right: 10px;
    top: 6px;
}
.chatusers {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0px;
    right: -500px;
    z-index: 1000;
    width: 450px;
}
.chatusers ul {
    display: block;
    float: none;
}
.chatusers li {
    overflow: hidden;
    display: block;
    float: none;
    width: 100%;
}

.online { color: #64AE00; }
.newmsg { color: #cd0a0a; }
.new { }
.new span,
.new div { }
.read { }
.read span,
.read div { font-weight: normal }
.completed { }
.completed span {
    opacity: 0.6;
    text-decoration: none;
    font-weight: normal;
}
.calgreen div {
    opacity: 0.8;
    text-decoration: line-through;
    font-weight: normal;
}
p {
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}
img { border: medium none }
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}
#homepage{
    overflow-x: hidden;
}
.left { float: left }
.right { float: right }
.red { color: rgb(198, 27, 27) }
.green { color: rgb(152, 178, 43) }
.smltxt { font-size: 11px }
.hoverimg {
    background: none repeat scroll 0% 0% rgb(204, 204, 204);
    padding: 3px;
    float: left;
}
.hoverimg:hover {
    cursor: pointer;
    background: none repeat scroll 0% 0% rgb(228, 228, 228);
}
#header {
    width: 100%;
    height: 70px;
    background: url('../images/bg_header.png') repeat-x scroll center bottom rgb(53, 53, 53);
}
.logo {
    float: left;
    padding: 20px 0 0 30px;
}
#searcharea {
    float: right;
    padding: 15px 15px 0 0;
}
#searcharea p {
    color: rgb(204, 204, 204);
    padding-top: 10px;
}
#searcharea a { color: rgb(204, 204, 204) }
#searcharea a:hover { color: rgb(153, 153, 153) }
.searchbox {
    margin-left: 10px;
    font-size: 14px;
    color: rgb(136, 136, 136);
    padding: 10px 15px;
    width: 350px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background: url('../images/bg_fade_med.png') repeat-x scroll center top rgb(255, 255, 255);
}
.searchbtn {
    background: url('../images/bg_btn_grey_lrg.png') repeat-x scroll center top transparent;
    border: 1px solid rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(238, 238, 238);
    padding: 10px;
    border-radius: 8px 8px 8px 8px;
}
.searchbtn:hover {
    background: url('../images/bg_btn_grey_lrg.png') repeat scroll 0 -50px transparent;
    cursor: pointer;
}
#breadcrumb {
    height: 21px;
    background: url('../images/bg_breadcrumb.png') repeat-x scroll center top rgb(199, 199, 199);
    margin: 0 0 0 226px;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 12px 0 8px 35px;
    text-shadow: 1px 1px 1px rgb(228, 228, 228);
    overflow: hidden;
}
#breadcrumb li {
    float: left;
    padding-right: 5px;
}
#breadcrumb li.current {
    font-weight: 700;
    font-size: 14px;
}
#breadcrumb a {
    color: rgb(102, 102, 102);
    text-decoration: none;
}
#breadcrumb a:hover { color: rgb(51, 51, 51) }
#leftside {
    width: 225px;
    height: 100%;
    background: url('../images/bg_leftside.png') repeat-x scroll center top rgb(82, 82, 82);
    position: absolute;
    top: 0;
    border-right: 1px solid rgb(255, 255, 255);
}
.user,
.notifications {
    width: 195px;
    padding: 15px;
    color: rgb(204, 204, 204);
    overflow: auto;
    text-shadow: 1px 1px 1px rgb(17, 17, 17);
    background: url('../images/bg_left_spacer.png') repeat-x scroll center bottom transparent;
}
.user img {
    float: left;
    margin: 5px 15px 10px 0;
}
.username {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-bottom: 5px;
}
.userbtn {
    text-shadow: none;
    float: left;
    padding-right: 5px;
    text-align: center;
}
.userbtn a {
    display: block;
    color: rgb(30, 30, 30);
    text-shadow: 1px 1px 1px rgb(238, 238, 238);
    font-size: 12px;
    width: 58px;
    background: url('../images/bg_btn_grey_sml.png') repeat-x scroll center top rgb(204, 204, 204);
    border: 1px solid rgb(100, 100, 100);
    padding: 2px 0;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
}
.userbtn a:hover {
    color: rgb(255, 255, 255);
    background: url('../images/bg_btn_grey_sml.png') repeat scroll 0 -30px rgb(238, 238, 238);
    text-shadow: none;
}
.notifications {
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.notifycount {
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    display: block;
    line-height: 1.6em;
    margin-right: 10px;
    letter-spacing: -1px;
}
#nav { position: absolute }
ul.navigation {
    width: 225px;
    color: rgb(255, 255, 255);
}
ul.navigation li.hover a {
    text-shadow: 1px 1px 1px rgb(34, 34, 34);
    background: url('../images/bg_navigation_link.png') repeat-x scroll center top transparent;
    outline: medium none;
    width: 205px;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    height: 15px;
}
ul.navigation li.hover a:hover {
    color: rgb(204, 204, 204);
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
}
ul#nav li a.heading,
a.collapsed,
a.expanded,
ul.navigation li.selected {
    line-height: 1.2em;
    width: 205px;
    font-size: 16px;
    font-weight: 700;
    padding: 9px 10px;
    display: block;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
ul.navigation li.selected {
    width: 226px;
    z-index: 2;
    position: relative;
    padding: 10px;
    cursor: default;
}
ul.navigation li.selected a {
    height: auto;
    outline: medium none;
    width: 205px;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    cursor: default;
}
ul.navigation li.selected a:hover {
    text-decoration: none;
    color: #FFFFFF;
}
#rightside {
    height: 100%;
    margin: 20px 20px 0 250px;
}
.contentcontainer { margin-bottom: 20px }
.headings {
    padding: 0 20px;
    border: 1px solid rgb(202, 202, 202);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    background: url('../images/bg_heading.png') repeat-x scroll center top rgb(234, 234, 234);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    letter-spacing: -1px;
    height: 45px;
}
.headings h2 {
    padding-top: 10px;
    font-size: 20px;
}
.contentbox {
    overflow: auto;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;
    background: url('../images/bg_fade_med.png') repeat-x scroll center top rgb(255, 255, 255);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.nopad { padding: 0 }
.contentbox p { padding-bottom: 15px }
.contentbox a,
#notificationsbox a { color: rgb(102, 102, 102) }
.contentbox a:hover,
#notificationsbox a:hover { color: rgb(51, 51, 51) }
ul.smltabs {
    float: right;
    padding-top: 20px;
}
ul.smltabs li { float: left }
.ui-tabs .ui-tabs-nav li a {
    position: relative;
    z-index: 3;
    display: block;
    text-decoration: none;
    float: left;
    background: none repeat scroll 0% 0% rgb(49, 49, 49);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px 20px;
    margin-left: 2px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: none;
    outline: medium none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    top: 1px;
    outline: medium none;
}
.ui-tabs .ui-tabs-hide { display: none }
.ui-tabs .ui-tabs-panel { background-image: none }
ul.pagination {
    float: right;
    font-size: 11px;
    clear: both;
}
ul.pagination li {
    float: left;
    padding-right: 5px;
}
ul.pagination li a {
    padding: 3px 7px;
    border: 1px solid rgb(204, 204, 204);
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    display: block;
    background: url('../images/bg_fade_up.png') repeat-x scroll center bottom rgb(255, 255, 255);
}
ul.pagination li.page a {
    color: rgb(255, 255, 255);
    font-weight: 700;
}
ul.pagination li.page a:hover { color: rgb(255, 255, 255) }
ul.pagination li.text a {
    border: medium none;
    text-decoration: underline;
    padding: 0 5px 0 0;
}
ul.pagination li.text { line-height: 2em }
.noticebox,
.noticeboxalt {
    border: 1px solid rgb(253, 216, 69);
    background: url('../images/bg_noticebox_yellow.png') repeat-x scroll center top rgb(255, 224, 130);
    width: 267px;
    margin: 0 15px 15px 0;
    float: left;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.noticeboxalt {
    border: 1px solid rgb(204, 204, 204);
    background: url('../images/bg_noticebox_grey.png') repeat-x scroll center top rgb(216, 216, 216);
}
.noticebox a,
.noticeboxalt a { text-shadow: none }
.innernotice {
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    width: 235px;
    float: left;
    background: none repeat scroll 0% 0% transparent;
}
#notificationsbox {
    width: 375px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
    display: none;
}
#notificationsbox h4 {
    width: 375px;
    padding: 15px 0;
    background: url('../images/bg_grey_dark_med.png') repeat-x scroll center top rgb(153, 153, 153);
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-shadow: 1px 1px 1px rgb(224, 224, 224);
    font-size: 28px;
    border-bottom: 1px solid rgb(119, 119, 119);
}
#notificationsbox li {
    padding: 15px;
    width: 345px;
    border-bottom: 1px solid rgb(204, 204, 204);
    background: url('../images/bg_fade_up.png') repeat-x scroll center bottom transparent;
}
#notificationsbox li h5 { font-size: 13px }
#notificationsbox li p { font-size: 10px }
#notificationsbox p.loadmore { padding: 15px }
img.closenot {
    float: right;
    padding-top: 7px;
    border: medium none;
}
.newsitem {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 15px;
    text-align: left;
    background: url('../images/bg_fade_up.png') repeat-x scroll center bottom transparent;
}
.newsitem img {
    float: left;
    margin: 0 15px 13px 0;
}
.newsitem p { padding: 0 0 10px }
p.bottominfo { padding: 10px 15px }
.med { width: 60% }
.sml { width: 38% }
.table { border-collapse: collapse }
.table th,
.table td {
    text-align: left;
    padding: 8px;
}
.table th {
    background: url('../images/bg_th.png') repeat-x scroll center top rgb(224, 224, 224);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    font-size: 14px;
}
.table tr.alt td {
    background: url('../images/bg_td_alt.png') repeat-x scroll center top rgb(242, 242, 242);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.extrabottom {
    padding: 15px;
    height: 40px;
    background: url('../images/bg_fade_sml.png') repeat-x scroll center top transparent;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}
.extrabottom ul { float: left }
.extrabottom li {
    float: left;
    padding-right: 25px;
}
.extrabottom li img {
    float: left;
    padding: 0 5px 0 0;
}
.bulkactions { float: right }
.inputbox {
    border: 1px solid rgb(153, 153, 153);
    padding: 10px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 5px;
    color: rgb(102, 102, 102);
    background: url('../images/bg_fade_sml.png') repeat-x scroll center top transparent;
}
.inputbox:focus { border: 1px solid rgb(102, 102, 102) }
.errorbox {
    border: 1px solid rgb(204, 0, 0);
    background: url('../images/bg_fade_red_sml.png') repeat-x scroll center top rgb(252, 240, 239);
    color: rgb(204, 0, 0);
    margin-right: 5px;
}
.errorbox:focus { border: 1px solid rgb(138, 0, 0) }
.correctbox {
    border: 1px solid rgb(157, 184, 50);
    background: url('../images/bg_fade_green_sml.png') repeat-x scroll center top rgb(243, 248, 224);
    color: rgb(157, 184, 50);
    margin-right: 5px;
}
.correctbox:focus { border: 1px solid rgb(124, 146, 39) }
.smallbox { width: 150px }
.status {
    padding: 8px 10px 5px;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    overflow: auto;
    margin-bottom: 20px;
    clear: both;
}
.status img {
    float: left;
    padding-right: 5px;
}
.status p {
    padding: 0;
    margin: 0;
}
.status p span { font-weight: 700 }
.status .closestatus {
    float: right;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10px;
}
.status .closestatus a {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 5px 5px 5px 5px;
    line-height: 0.6em;
    top: -2px;
    text-shadow: none;
}
.warning {
    border: 3px solid rgb(191, 153, 0);
    background: url('../images/bg_fade_yellow_med.png') repeat-x scroll center top rgb(254, 235, 156);
}
.warning span { color: rgb(191, 153, 0) }
.warning .closestatus a { background: none repeat scroll 0% 0% rgb(191, 153, 0) }
.warning .closestatus a:hover { background: none repeat scroll 0% 0% rgb(155, 124, 0) }
.success {
    border: 3px solid rgb(142, 165, 52);
    background: url('../images/bg_fade_green_med.png') repeat-x scroll center top rgb(203, 218, 143);
}
.success span { color: rgb(142, 165, 52) }
.success .closestatus a { background: none repeat scroll 0% 0% rgb(142, 165, 52) }
.success .closestatus a:hover { background: none repeat scroll 0% 0% rgb(130, 152, 41) }
.error {
    border: 3px solid rgb(153, 0, 0);
    background: url('../images/bg_fade_red_med.png') repeat-x scroll center top rgb(245, 208, 205);
}
.error span { color: rgb(153, 0, 0) }
.error .closestatus a { background: none repeat scroll 0% 0% rgb(153, 0, 0) }
.error .closestatus a:hover { background: none repeat scroll 0% 0% rgb(115, 13, 13) }
.info {
    border: 3px solid rgb(47, 173, 215);
    background: url('../images/bg_fade_blue_med.png') repeat-x scroll center top rgb(146, 214, 237);
}
.info span { color: rgb(14, 122, 159) }
.info .closestatus a { background: none repeat scroll 0% 0% rgb(47, 173, 215) }
.info .closestatus a:hover { background: none repeat scroll 0% 0% rgb(34, 141, 176) }
.usagebox { border: 1px solid rgb(204, 204, 204) }
.usagebox div { height: 25px }
.highbar { background: url('../images/bg_usage_red.png') repeat-x scroll center top rgb(153, 51, 0) }
.midbar { background: url('../images/bg_usage_orange.png') repeat-x scroll center top rgb(210, 126, 0) }
.lowbar { background: url('../images/bg_usage_green.png') repeat-x scroll center top rgb(146, 173, 37) }
.usagetxt {
    padding: 3px 8px;
    border-radius: 5px 5px 5px 5px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.redtxt {
    color: rgb(204, 0, 0);
    background: none repeat scroll 0% 0% rgb(243, 223, 219);
}
.orangetxt {
    color: rgb(237, 157, 32);
    background: none repeat scroll 0% 0% rgb(252, 233, 204);
}
.greentxt {
    color: rgb(157, 184, 50);
    background: none repeat scroll 0% 0% rgb(243, 247, 225);
}
ul.list li {
    background: url('../images/icon_bullet.png') no-repeat scroll left center transparent;
    padding-left: 25px;
    margin-bottom: 5px;
}
ul.ticklist li {
    background: url('../images/icon_ticklist.png') no-repeat scroll left center transparent;
    padding-left: 25px;
    margin-bottom: 5px;
}
ul.ticklist li.cross { background: url('../images/icon_cross_sml.png') no-repeat scroll left center transparent }
.highlighted {
    color: rgb(223, 179, 0);
    background: none repeat scroll 0% 0% rgb(255, 248, 207);
    font-weight: 700;
    padding: 4px 7px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
}
.spacer {
    background: url('../images/bg_fade_up.png') repeat-x scroll center center transparent;
    padding: 10px 0;
    margin-bottom: 10px;
}
.dropcap {
    letter-spacing: 0;
    text-transform: uppercase;
    color: rgb(98, 143, 190);
    font-family: times, serif;
    font-size: 3.5em;
    float: left;
    margin: 0.13em 0.2em 0 0;
    line-height: 0.7;
}
.visualize {
    border: 1px solid rgb(136, 136, 136);
    position: relative;
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    margin: 20px auto 10px;
}
.visualize canvas { position: absolute }
.visualize ul,
.visualize li {
    margin: 0;
    padding: 0;
}
.visualize .visualize-info {
    padding: 3px 5px;
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    border: 1px solid rgb(136, 136, 136);
    position: absolute;
    top: -20px;
    right: 10px;
    opacity: 0.8;
}
.visualize .visualize-title {
    display: block;
    color: rgb(51, 51, 51);
    margin-bottom: 3px;
    font-size: 1em;
}
.visualize ul.visualize-key { list-style: none outside none }
.visualize ul.visualize-key li {
    list-style: none outside none;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
    position: relative;
}
.visualize ul.visualize-key .visualize-key-color {
    width: 6px;
    height: 6px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -3px;
}
.visualize ul.visualize-key .visualize-key-label { color: rgb(0, 0, 0) }
.visualize-pie .visualize-labels { list-style-type: none }
.visualize-pie li { list-style-type: none }
.visualize-pie .visualize-label-pos,
.visualize-pie .visualize-label {
    position: absolute;
    margin: 0;
    padding: 0;
}
.visualize-pie .visualize-label {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1em;
}
.visualize-labels-x,
.visualize-labels-y {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none outside none;
}
.visualize-labels-x li,
.visualize-labels-y li {
    position: absolute;
    bottom: 0;
}
.visualize-labels-x li span.label,
.visualize-labels-y li span.label {
    position: absolute;
    color: rgb(85, 85, 85);
}
.visualize-labels-x li span.line,
.visualize-labels-y li span.line {
    position: absolute;
    border: 0 solid rgb(204, 204, 204);
}
.visualize-labels-x li {
    height: 100%;
    list-style: none outside none;
}
.visualize-labels-x li span.label {
    top: 100%;
    margin-top: 5px;
}
.visualize-labels-x li span.line {
    border-left-width: 1px;
    height: 100%;
    display: block;
}
.visualize-labels-x li span.line { border: 0 none }
.visualize-labels-y li {
    width: 100%;
    list-style: none outside none;
}
.visualize-labels-y li span.label {
    right: 100%;
    margin-right: 5px;
    display: block;
    width: 100px;
    text-align: right;
}
.visualize-labels-y li span.line {
    border-top-width: 1px;
    width: 100%;
}
.visualize-bar .visualize-labels-x li span.label {
    width: 100%;
    text-align: center;
}
.contentcontainer .altheading {
    background: url('../images/bg_heading_alt.png') repeat scroll 0% 0% rgb(0, 120, 159);
    border: 1px solid rgb(0, 120, 159);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(45, 115, 138);
}
ul#nav li a.heading,
a.collapsed,
a.expanded,
ul.navigation li.selected {
    border-bottom: 1px solid rgb(14, 108, 19);
    border-top: 1px solid rgb(51, 201, 58);
    text-shadow: 1px 1px 1px rgb(13, 44, 53);
    background: url('../images/bg_navigation.png') no-repeat scroll center top transparent;
}
ul#nav li a.expanded { background: url('../images/bg_navigation.png') repeat scroll 0 -76px transparent }
ul#nav li a.collapsed:hover {
    background: url('../images/bg_navigation.png') no-repeat scroll 0 -38px transparent;
    width: 205px;
}
ul#nav li a.expanded:hover {
    background: url('../images/bg_navigation.png') no-repeat scroll 0 -114px transparent;
    width: 205px;
}
ul.navigation li.selected {
    background: url('../images/bg_navigation_selected.png') no-repeat scroll -1px 0 transparent;
    border: medium none;
}
.notifycount { background: url('../images/bg_notify_count.png') no-repeat scroll center top transparent }
ul.pagination li.page a {
    background: url('../images/bg_buttons.png') repeat-x scroll center top rgb(0, 120, 159);
    border: 1px solid rgb(13, 135, 174);
}
ul.pagination li.page a:hover {
    background: url('../images/bg_buttons.png') repeat scroll 0 -50px rgb(0, 120, 159);
    border: 1px solid rgb(0, 89, 119);
}
.btn,
.btnalt {
    background: url('../images/bg_buttons.png') repeat-x scroll center top transparent;
    border: 1px solid rgb(13, 135, 174) ! important;
    color: rgb(255, 255, 255);
    font-size: 11px;
    padding: 7px 10px;
    border-radius: 7px 7px 7px 7px;
    font-weight: 700;
}
.btn:hover {
    background: url('../images/bg_buttons.png') repeat scroll 0 -50px transparent;
    border: 1px solid rgb(0, 89, 119);
    cursor: pointer;
}
.btnalt {
    background: url('../images/bg_buttons_alternative.png') repeat-x scroll center top transparent ! important;
    border: 1px solid rgb(51, 51, 51) ! important;
    color: rgb(255, 255, 255);
    padding: 7px 10px;
}
.btnalt:hover {
    background: url('../images/bg_buttons_alternative.png') repeat scroll 0 -50px transparent ! important;
    border: 1px solid rgb(17, 17, 17) ! important;
    cursor: pointer;
}
/* Content elements
------------------------------ */
blockquote {
    margin-left: 10em;
    padding-left: 1em;
    border-left: 2px solid #ccc;
}
code,
pre {
    font: 1.2em/1 "Courier New", Courier, monospace;
    padding: 1px 2px;
    background: #eee;
}
pre {
    border: 1px dashed #aaa;
    line-height: 1.7em;
    padding: 5px;
    font-size: .9em;
    background: #eee;
    margin: 0;
}
strong { }
em { }
sup,
sub {
    vertical-align: baseline;
    position: relative;
}
sup { top: -0.4em }
sub { bottom: -0.3em }
hr {
    color: #ccc;
    background-color: #ccc;
    height: 1px;
    border-width: 0;
}
.em { font-style: italic }
.strong { font-weight: bold }
.icons a,
.icon {
    padding: 1px 0 1px 20px;
    background-repeat: no-repeat;
    background-position: left center;
}
/* Text align, float
------------------------------ */
.a-left { text-align: left }
.a-center { text-align: center }
.a-right { text-align: right }
.f-left { float: left }
.f-right { float: right }
/*    Tables
------------------------------ */
.tablealt {
    border-collapse: collapse;
    width: 100%;
}
.tablealt th,
.tablealt td {
    padding: 2px 3px;
    vertical-align: top;
}
.tablealt td {
    padding: 2px 3px;
    vertical-align: middle;
}
.tablealt td.alt { background: #ebe8cb }
/*    Columns
------------------------------ */
.columns { }
.w-5,
.w-10,
.w-15,
.w-20,
.w-25,
.w-30,
.w-35,
.w-40,
.w-45,
.w-50,
.w-55,
.w-60,
.w-65,
.w-70,
.w-75,
.w-80,
.w-85,
.w-90,
.w-95,
.w-100,
.w-33,
.w-66,
.w-38,
.w-62 { float: left }
.col-content { padding-right: 6px }
.col-first { padding-left: 0 !important }
.col-last { padding-right: 0 !important }
.w-5 { width: 5% }
.w-10 { width: 10% }
.w-15 { width: 15% }
.w-20 { width: 20% }
.w-25 { width: 25% }
.w-30 { width: 30% }
.w-35 { width: 35% }
.w-40 { width: 40% }
.w-45 { width: 45% }
.w-50 { width: 50% }
.w-55 { width: 55% }
.w-60 { width: 60% }
.w-65 { width: 65% }
.w-70 { width: 70% }
.w-75 { width: 75% }
.w-80 { width: 80% }
.w-85 { width: 85% }
.w-90 { width: 90% }
.w-95 { width: 95% }
.w-100 { width: 100% }
.w-33 { width: 33% }
.w-66 { width: 66% }
.w-38 { width: 38% }
.w-62 { width: 62% }
/* Images
------------------------------ */
.content img {
    padding: 5px;
    border: 1px solid #ccc !important;
    margin-top: .4em;
}
.content img.null-image {
    padding: 0 !important;
    border: none !important;
    margin: 0 !important;
}
img.f-left { margin-right: 1em }
img.f-right { margin-left: 1em }
/* -----------------------------------------------------------------------

 RMSforms CSS Forms Framework 0.5
 http://rmsjr.com

   * Copyright (c) 2009-Present.

----------------------------------------------------------------------- */
/* CONTAINING DIV */
.formContainer {
    overflow: hidden;
    height: 1%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    line-height: 120%;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BASE FORM CLASS */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.form {
    margin: 0 0 0 0;
    padding: 10px;
    list-style: none;
    background-color: #FFFFFF;
}
.form ul {
    padding: 2px 5px 5px 5px;
    overflow: hidden;
    height: 1%;
}
.form label {
    width: 120px;
    padding: 3px 5px 3px 0;
    float: left;
    display: inline;
}
.form li {
    margin: 3px 0 0 0;
    padding-bottom: 3px;
}
.form li ul li { border-bottom: 0 solid #ff0000 }
.form input {
    float: left;
    display: inline;
    line-height: 100%;
}
.form select {
    float: left;
    display: inline;
}
.form textarea {
    float: left;
    display: inline;
}
.form input[type='radio'] { border: 0 }
.form input[type='checkbox'] { border: 0 }
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FORM MODIFIERS */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*
All of the modifier classes should be applied to form uls and are used to present the structure:

.
Each letter represented in the class name represents the orientation of the li - label - input elements respectively.

h = horizontal block element (floated left)
v = vertical block element
i = inline element

for example, the class:.hvv  =  [LI:Horizontal Block Element]  [LABEL:Verticle block element]  [INPOUT:Vertical block element]
*/
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.vvv li {
    display: block;
    clear: both;
    width: 100%;
}
.vvv label {
    display: block;
    width: 100%;
    clear: both;
    float: none;
}
.vvv input {
    display: block;
    float: left;
}
.vvv select {
    display: block;
    float: left;
}
.vvv textarea {
    display: block;
    float: left;
}
.hvv {
    overflow: hidden;
    height: 1%;
}
.hvv li {
    float: left;
    margin-right: 10px;
    display: inline;
    width: auto;
    clear: none;
}
.hvv label {
    display: block;
    width: auto;
    float: none;
}
.hvv input { display: block }
.hvv select { display: block }
.hvv textarea { display: block }
.hii {
    overflow: hidden;
    height: 1%;
}
.hii li {
    float: left;
    margin-right: 10px;
    display: inline;
    width: auto;
    border-bottom: 0;
}
.hii label {
    display: inline;
    margin-right: 0;
    vertical-align: middle;
    text-align: left;
    width: auto;
}
.hii input {
    display: inline;
    vertical-align: middle;
}
.hii select {
    display: inline;
    vertical-align: middle;
}
.hii textarea {
    display: inline;
    vertical-align: middle;
}
.hii li li { clear: both }
/* reset second level lis */
.hhh {
    overflow: hidden;
    height: 1%;
}
.hhh li {
    float: left;
    margin-right: 10px;
    display: inline;
    width: auto;
    border-bottom: 0;
}
.hhh label {
    float: left;
    width: 100px;
}
.hhh input { float: left }
.hhh select { float: left }
.hhh textarea { float: left }
.hhh li li { clear: both }
/* reset second level lis */
.vii {
    float: left;
    display: inline;
    width: auto;
}
.vii li {
    display: block;
    float: left;
    width: auto;
    clear: both;
}
.vii label {
    display: inline;
    width: auto;
    vertical-align: middle;
    float: none;
}
.vii input {
    display: inline;
    vertical-align: middle;
    float: none;
}
.vii select {
    display: inline;
    vertical-align: middle;
    float: none;
}
.vii textarea {
    display: inline;
    vertical-align: middle;
    float: none;
}
.vhh {
    float: left;
    display: inline;
}
.vhh li {
    display: block;
    clear: both;
    float: left;
    width: auto;
    border-bottom: 3px solid #efefef;
}
.vhh label {
    float: left;
    width: 100px;
    display: inline;
}
.vhh input {
    float: left;
    display: inline;
}
.vhh select {
    float: left;
    display: inline;
}
.vhh textarea {
    float: left;
    display: inline;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* LABEL MODIFIERS */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
label.v {
    display: block;
    float: none;
    width: auto;
    padding: 3px;
    text-align: left;
}
label.h {
    display: block;
    float: left;
    width: auto;
    display: inline;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MULTI-SELECT BOX */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.multiSelect {
    height: 200px;
    width: 150px;
    float: left;
    padding: 0;
    background-color: #FFFFFF;
    overflow: auto;
}
.multiSelect .form {
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}
.multiSelect .vhh {
    margin: 0;
    padding: 0;
}
.multiSelect .vhh input { float: left }
.multiSelect .vhh label {
    float: none;
    margin-left: 20px;
    display: block;
    width: auto;
    clear: none;
}
.multiSelect .vhh li {
    overflow: hidden;
    width: 100%;
}
.multiSelect .vii li { width: 100% }
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* OTHER STYLES */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* COLOR CODE - FOR CLARIFICATION & DEBUGGING
ul { background-color:#666}
ul li{ background-color:#999}
ul li ul{ background-color:#ccc}
ul li ul li{ background-color:#eee}
label{ background-color:#A0EFED; }*/
/* ie 6 no border class (put on all check boxes and radio buttons if a border is set on inputs*/
.form input.noBorder { border: 0 }
/* REQUIRED FIELD STLES */
.requiredDesignation {
    display: block;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
}
.required { color: #FF0000 }
.required label:Before { content: "* " }
.requiredDesignation:before { content: "* " }
/* FORM NOTES */
.leftNote {
    padding: 3px 5px 0 5px;
    color: #FF9933;
    float: left;
}
.bottomNote {
    padding: 0;
    color: #FF9933;
    clear: both;
    display: block;
}
.tar label { text-align: right }
/* GENERAL TWEAKING STYLES */
.fl { float: left }
.cb { clear: both }
.w100p { width: 100% }
.mr5 { margin-right: 5px }
.ml5 { margin-left: 5px }
.mr10 { margin-right: 10px }
.ml10 { margin-left: 10px }
.mr20 { margin-right: 20px }
.ml20 { margin-left: 20px }
.offset1 { margin-left: 130px }
.offset2 { margin-left: 105px }
.ui-state-active {
    background: red;
    border: 1px solid red;
    color: red;
}
/* Interaction states
----------------------------------*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #999;
    background: #ddd;
    font-weight: normal;
    color: #666;
}
.ui-state-active,
.ui-widget-content .ui-state-active {
    border: 1px solid #333;
    background: #666;
    font-weight: normal;
    color: #9acd32;
}
.ui-widget-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    z-index: 100000;
}
/* message styles */
.message {
    border-radius: 5px;
    padding: 6px 10px 10px 45px;
    position: relative;
    margin: 0 0 15px 0;
    cursor: pointer;
}
.message span {
    display: block;
    font-weight: bold;
    padding: 0 0 4px;
}
.message.success {
    color: #1c8400;
    border: #b4e8aa solid 1px;
    background: #e9f9e5 url("../images/icons/success.png") 10px 50% no-repeat;
}
.message.warning {
    color: #828400;
    border: #e8e3aa solid 1px;
    background: #f9f9e5 url("../images/icons/warning.png") 10px 50% no-repeat;
}
.message.error {
    color: #b50007;
    border: #e8aaad solid 1px;
    background: #f9e5e6 url("../images/icons/error.png") 10px 50% no-repeat;
}
.message.information {
    color: #0055b5;
    border: #aac6e8 solid 1px;
    background: #e5ecf9 url("../images/icons/info.png") 10px 50% no-repeat;
}
.message.tip {
    border: 1px solid #fdd845;
    background: #fff6bf url("../images/icons/tip.png") 10px 50% no-repeat;
}
