    <table id="logstable" class="tablealt ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header">
            <th>Пользователь</th>
            <th class="ui-widget-header">Время</th>
        </tr>
        </thead>
        <tfoot>
            <tr class="ui-widget-header">
                <td colspan="11" class="a-right">
                    <img src="/core/images/icons/document-pdf-text.png" alt="Сохранить в PDF" title="Сохранить в PDF" class="ui-button ui-corner-all">
                    <img src="/core/images/icons/document-word-text.png" alt="Сохранить в DOC" title="Сохранить в DOC" class="ui-button ui-corner-all">
                </td>
            </tr>
        </tfoot>
        <tbody>
        <?=$this->partialLoop('logs/row.phtml', $this->items); ?>
        </tbody>
    </table>

<script type="text/javascript">
$(document).ready(function() {
	Core.Init();
});
</script>
