        <tr class="ui-widget ui-corner-all">
            <td class="ui-widget-content"><?=$this->name?> (<?=$this->login;?>)</td>
            <td class="ui-widget-content"><?=$this->date?></td>
        </tr>