<? if(empty($this->getHelper('PartialLoop')->view->count)){ $this->getHelper('PartialLoop')->view->count = 1; } ?>
<? if($this->user_id == Zend_Auth::getInstance()->getIdentity()->id): ?>
        <tr>
            <td class="ui-widget-content" align="center"><?=$this->getHelper('PartialLoop')->view->count?></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][client]" value="<?=$this->escape($this->client)?>" class="client"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][mpz]" value="<?=$this->mpz?>" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][proch]" value="<?=$this->proch?>" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][sku_mpz]" value="<?=$this->sku_mpz?>" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][sku_proch]" value="<?=$this->sku_proch?>" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][address]" value="<?=$this->escape($this->address)?>" class="address"></td>
            <td class="ui-widget-content"><?=((is_null($this->time_visit)) ? '__:__' : date('H:i', strtotime($this->time_visit)))?></td>
            <td class="ui-widget-content"><select name="row[<?=$this->id?>][hp]"><option value="Р"<?=(($this->hp=='Р')?' selected':'')?>>Р</option><option value="Н"<?=(($this->hp=='Н')?' selected':'')?>>Н</option></select></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][posom]" value="<?=$this->posom?>" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][result]" value="<?=$this->escape($this->result)?>"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][comment]" value="<?=$this->escape($this->comment)?>"></td>
            <td class="ui-widget-content"><input type="checkbox" name="row[<?=$this->id?>][time_visit]" value="1"<?=((is_null($this->time_visit)) ? '' : ' checked="checked" disabled="disabled"')?>></td>
            <td class="controls"><input type="hidden" name="edit[]" value="<?=$this->id?>"><a href="javascript:;" class="list_cancel" title="Удалить строку"></a></td>
        </tr>
<? else: ?>
        <tr class="ui-widget ui-corner-all">
            <td class="ui-widget-content" align="center"><?=$this->getHelper('PartialLoop')->view->count?></td>
            <td class="ui-widget-content"><?=$this->client?></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][mpz]" value="<?=$this->mpz?>" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][proch]" value="<?=$this->proch?>" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][sku_mpz]" value="<?=$this->sku_mpz?>" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][sku_proch]" value="<?=$this->sku_proch?>" class="int"></td>
            <td class="ui-widget-content"><?=$this->address?></td>
            <td class="ui-widget-content"><?=((is_null($this->time_visit)) ? '__:__' : date('H:i', strtotime($this->time_visit)))?></td>
            <td class="ui-widget-content"><?=$this->hp?></td>
            <td class="ui-widget-content"><?=$this->posom?></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][result]" value="<?=$this->escape($this->result)?>"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][comment]" value="<?=$this->escape($this->comment)?>"></td>
            <td class="ui-widget-content"><input type="checkbox" name="row[<?=$this->id?>][time_visit]" value="1"<?=((is_null($this->time_visit)) ? '' : ' checked="checked" disabled="disabled"')?>></td>
            <td class="controls"><input type="hidden" name="edit[]" value="<?=$this->id?>">&nbsp;</td>
        </tr>
<? endif; ?>
<? $this->getHelper('PartialLoop')->view->count++; ?>