<div id="chatpm" class="chatpm">
<?php
$lastID = 0;
$items = array_reverse($this->items->toArray());
foreach($items as $item) {
    echo '<div class="msg"><div class="ui-widget-header head">' . $item['name'] . ':<span>' . $item['date'] . '</span></div><p class="ui-widget-content">' . $item['text'] . '</p></div>';
    $lastID = $item['id'];
}
?>
</div>
<button id="pmhistory" title="История чата">&nbsp;</button><input type="text" name="msgpm" id="msgpm"><button id="pmsubmit" title="Отправить">&nbsp;</button>

<script type="text/javascript">
$(document).ready(function() {
    var lastID = <?=$lastID?>;
    var updateID = setInterval(update, 3000);
    $('#pmhistory').button({text: false, icons: {primary: 'ui-icon-note'}});
    $('#pmsubmit').button({text: false, icons: {secondary: 'ui-icon-comment'}}).width(80).click(sendMsg);
    $("#msgpm").keypress(function(event) {
        if(event.which == 13) {
            event.preventDefault();
            sendMsg();
        }
    });
    $('#pm<?=$this->to?>').dialog({
       title: '<?=$this->names[$this->to]?> - Личные сообщения',
       beforeClose: function(event, ui) {
           clearInterval(updateID);
       }
    });
    function update() {
        $.ajax({
            url: '/chat/poll/pm/<?=$this->to?>/last/' + lastID,
            dataType: 'json',
            beforeSend: function() {},
            success: function(data) {
                data.forEach(function(msg) {
                    $('#chatpm').append($('<div/>').attr('class', 'msg flash').append($('<div/>').attr('class', 'ui-widget-header head').html(msg.name + ':').append($('<span/>').html(msg.date))).append($('<p/>').attr('class', 'ui-widget-content').html(msg.text)));
                    lastID = msg.id;
                });
                $('#chatpm').scrollTop(1000);
                $('#chatpm > div.flash').removeClass('flash').show('pulsate');
            }
        });
    }
    function sendMsg() {
        if($('#msgpm').val().length > 0) {
            clearInterval(updateID);
            $.post('/chat/send/pm/<?=$this->to?>/last/' + lastID, {msg: $('#msgpm').val()}, function(data) {
                data.forEach(function(msg) {
                    $('#chatpm').append($('<div/>').attr('class', 'msg flash').append($('<div/>').attr('class', 'ui-widget-header head').html(msg.name + ':').append($('<span/>').html(msg.date))).append($('<p/>').attr('class', 'ui-widget-content').html(msg.text)));
                    lastID = msg.id;
                });
                $('#chatpm').scrollTop(1000);
                $('#chatpm > div.flash').removeClass('flash').show('pulsate');
                $('#msgpm').val('');
                updateID = setInterval(update, 3000);
            });
        }
    }
});
</script>
