<? if(empty($this->getHelper('PartialLoop')->view->count)){ $this->getHelper('PartialLoop')->view->count = 1; } ?>
        <tr class="ui-widget ui-corner-all">
            <td class="ui-widget-content" align="center"><?=$this->getHelper('PartialLoop')->view->count?></td>
            <td class="ui-widget-content"><?=$this->client?></td>
            <td class="ui-widget-content"><?=$this->mpz?></td>
            <td class="ui-widget-content"><?=$this->proch?></td>
            <td class="ui-widget-content"><?=$this->sku_mpz?></td>
            <td class="ui-widget-content"><?=$this->sku_proch?></td>
            <td class="ui-widget-content"><?=$this->address?></td>
            <td class="ui-widget-content"><?=((is_null($this->time_visit)) ? '__:__' : date('H:i', strtotime($this->time_visit)))?></td>
            <td class="ui-widget-content"><?=$this->hp?></td>
            <td class="ui-widget-content"><?=$this->posom?></td>
            <td class="ui-widget-content"><?=$this->result?></td>
            <td class="ui-widget-content"><?=$this->comment?></td>
        </tr>
<? $this->getHelper('PartialLoop')->view->count++; ?>