    <table id="notifytable" class="tablealt ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header">
            <th>Сообщение</th>
            <th class="ui-widget-header">Время</th>
        </tr>
        </thead>
        <tfoot>
            <tr class="ui-widget-header">
                <td colspan="11" class="a-right">
                    <img src="/core/images/icons/document-pdf-text.png" alt="Сохранить в PDF" title="Сохранить в PDF" class="ui-button ui-corner-all">
                    <img src="/core/images/icons/document-word-text.png" alt="Сохранить в DOC" title="Сохранить в DOC" class="ui-button ui-corner-all">
                </td>
            </tr>
        </tfoot>
        <tbody>
        <?=$this->partialLoop('notify/row.phtml', $this->items); ?>
        </tbody>
    </table>

<script type="text/javascript">
$(document).ready(function() {
Core.Init();
//Core.Notify(Math.floor(Math.random(1,99) * 100 / 1));
});
</script>
