<form action="" method="POST">
    <fieldset>
        <ul class="form hvv">
            <li class="vvv">
                <input type="text" name="title" value="" style="width:500px" placeholder="Заголовок задачи">
            </li>
            <li class="vvv">
                <textarea name="text" rows="10" style="width:500px" placeholder="Опишите задачу"></textarea>
            </li>

            <li style="width:200px" class="ui-widget-content ui-corner-all"><label class="v newsitem">Дата и время:</label>
                <ul class="vhh" id="datetime">
                    <li><input type="text" name="start[date]" value="<?=date('d.m.Y',$this->date)?>" class="date"><input type="text" name="start[time]" value="<?=date('H:i',$this->date)?>" class="time ml10 mr5"></li>
                    <li><input type="text" name="end[date]" value="<?=date('d.m.Y',$this->date)?>" class="date"><input type="text" name="end[time]" value="<?=date('H:i',$this->date)?>" class="time ml10 mr5"></li>
                    <li><input type="checkbox" name="completed" value="true" id="completed"><label for="completed">Выполнено</label></li>
                </ul>
            </li>
            <li style="width:290px" class="ui-widget-content ui-corner-all"><label class="v newsitem">Исполнители:</label>
                <ul>
                    <li>
                        <?php if(Zend_Auth::getInstance()->getIdentity()->group_id < 3): ?>
                        <div style="width:282px;height:150px;overflow:auto;border-bottom:1px solid #aaa;" id="userslist">
                            <?php
                                $city = array();
                                foreach($this->users as $user) {
                                    $city[] = $user->city;
                                    echo '<input type="checkbox" name="users[]" city="' . $user->city . '" value="' . $user->id . '" id="user' . $user->id . '"><label for="user' . $user->id . '">[' . $user->city . '] ' . $user->group . ' ' . $user->name . '</label>';
                                }
                                $city = array_unique($city);
                            ?>
                        </div>
                        <div style="width:282px;" id="groups">
                            <a href='javascript:;' rel='Всем'>Всем</a>
                        <?php
                            foreach($city as $c) {
                                echo "<a href='javascript:;' rel='" . $c . "'>" . $c . "</a> ";
                            }
                        ?>
                        </div>
                        <div style="width:282px;"><input type="checkbox" name="forme" value="true" id="forme"><label for="forme">Личное дело</label></div>
                        <?php else: ?>
                        <div style="width:282px;"><input type="hidden" name="forme" value="true"><b>Личное дело</b></div>
                        <?php endif; ?>
                    </li>
                </ul>
            </li>
        </ul>
    </fieldset>
</form>
<script type="text/javascript">
$(document).ready(function() {
    $('#taskform').dialog('option', {
        buttons: {
            "Отмена" : function() {
                $(this).dialog('close');
            },
            "Сохранить" : function() {
                $.post('/task/save', $('#taskform > form').serialize(), function(data) {
                    if(data.success) {
                        $("#taskform").html(data.result).dialog('option',{buttons:{}});
                        $('#calendar').fullCalendar('refetchEvents');
                    } else {
                        $("#taskform > form").prepend(data.result);
                        $(".message").bind('click',function(){$(this).fadeOut(function(){$(this).remove();});return false});
                    }
                });
            }
        }
    }
    );
    $('#groups a').click(function(){
        city = $(this).attr('rel');
        if(city == 'Всем') {
            var c = $('#userslist input:checkbox');
            c.attr('checked', !c.attr('checked'));
        } else {
            $('#userslist input:checkbox').each(function(){
                $(this).attr('checked', ($(this).attr('city') == city));
            });
        }
    });
    $('#completed').change(function () {
        if($(this).is(':checked')){
            $('#datetime input[name!="completed"]').parent().slideUp();
        }else{
            $('#datetime input[name!="completed"]').parent().slideDown();
        }
    });
    $('#forme').change(function () {
        if($(this).is(':checked')){
            $('#groups').slideUp();
            $('#userslist').slideUp();
        }else{
            $('#groups').slideDown();
            $('#userslist').slideDown();
        }
    });
    $(".date").width(75).datepicker({
        showOn: "both",
        buttonImage: "/core/images/icons/calendar.png",
        buttonImageOnly: true
    });
    $(".time").width(40).mask('99:99',{completed:function() { time = this.val().split(':'); if(time[0]>23) { this.val('23:'+time[1]);time[0]=23; } if(time[1]>59) { this.val(time[0]+':59');time[1]=59; }}});
    Core.Init();
});
</script>