<div class="message success"><span class="strong">Успешно!</span> Для задачи поставлена отметка о вашем выполнении.</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar('refetchEvents');
});
</script>