<form action="" method="POST">
    <fieldset>
        <ul class="form vvv">
            <li class="iii">
                <div class="message tip"><span><?=$this->escape($this->task->title);?></span> с <?=date('d.m.Y H:i', strtotime($this->task->start))?> по <?=date('d.m.Y H:i',strtotime($this->task->end))?></div>
            </li>
            <li class="ui-widget-content ui-corner-all">
                <p class="bottominfo"><?=$this->escape($this->task->text);?></p>
            </li>

            <li class="ui-widget-content ui-corner-all"><label class="v newsitem">Исполнители:</label>
                <ul>
                    <li>
                        <?php
                            #Zend_Debug::dump($this->tasks);
                            foreach($this->users as $user) {
                                switch($this->tasks[$user->id]) {
                                    case 1:
                                        $list[] = '<span style="color:grey">☐ [' . $user->city . '] ' . $this->groups[$user->group_id] . ' ' . $user->name . '</span>';
                                    break;

                                    case 2:
                                        $list[] = '<strike style="color:grey">☑ [' . $user->city . '] ' . $this->groups[$user->group_id] . ' ' . $user->name . '</strike>';
                                    break;

                                    default:
                                        $list[] = '☐ [' . $user->city . '] ' . $this->groups[$user->group_id] . ' ' . $user->name . '';
                                    break;
                                }
                            }
                            echo implode('<br />', $list);
                        ?>
                        <!--div style="width:282px;overflow:auto;"><b>Личное дело</b></div-->
                    </li>
                </ul>
            </li>
        </ul>
    </fieldset>
</form>
<script type="text/javascript">
$(document).ready(function() {
    $('#taskform').dialog('option', {
                buttons: {
                    "Отмена" : function() {
                        $(this).dialog('close');
                    }<?=(((int)$this->task->status==2)?'':',
                    "Выполнил" : function() {
                        $.post(\'/task/completed\', {id:' . $this->task->id . '}, function(data) {
                            $(\'#taskform\').dialog(\'option\', { buttons: false});
                            $("#taskform").html(data);
                            $("#calendar").fullCalendar("refetchEvents");
                        });
                    }');?>
                }<?=(((int)$this->task->status==2)?'':',
                open: function() {
                    $(\'.ui-dialog-buttonpane button span\').each(function(){
                        var html = $(this).html();
                        switch(html) {
                            case "Выполнил":
                                $(this).parent()
                                       .removeClass("ui-button-text-only")
                                       .addClass("ui-button-text-icon-primary")
                                       .prepend(\'<span class="ui-button-icon-primary ui-icon ui-icon-check"></span>\');
                            break;
                        }
                    });
                }');?>
            }
    );
    Core.Init();
});
</script>