<div id="who"><h3><a href="">Настройки отображения</a></h3><div id="uids">
    <?php
        foreach($this->users as $user) {
            //echo '<option value="' . $user->id . '">[' . $user->city . '] ' . $user->group . ' ' . $user->name . '</option>';
            echo '<input type="checkbox" name="users[]" value="' . $user->id . '" checked="checked"><label for="user' . $user->id . '">[' . $user->city . '] ' . $user->group . ' ' . $user->name . '</label>';
        }
    ?>
</div></div>
<div id='calendar' style='margin:3em 0;font-size:13px'></div>
<br /><br />

<script type="text/javascript">
// calendar
$(document).ready(function() {
    /*$('table').addClass('tablealt');
    $('table thead tr').addClass('ui-widget-header');
    $('table tbody tr td').addClass('ui-widget-content');
    $('table tbody tr:odd').find('td').addClass('alt');*/
    var UIDS = [];
    function checkUIDS(reload) {
        UIDS = [];
        $('#uids > input[type="checkbox"]:checked').each(function() {
            UIDS.push($(this).val());
        });
        $('#calendar').fullCalendar('getView').calendar.options.uids = UIDS;
        if(reload) $('#calendar').fullCalendar('refetchEvents');
    }
    $('#calendar').fullCalendar({
        editable: false,
        theme: true,
        lazyFetching: false,
        defaultView: 'agendaDay',
        firstDay: Date.firstDayOfWeek,
        monthNames: Date.monthNames,
        monthNamesShort: Date.abbrMonthNames,
        dayNames: Date.dayNames,
        dayNamesShort: Date.abbrDayNames,
        //timeFormat: Date.format,
        weekMode: 'variable',
        axisFormat: "HH:mm",
        allDayText: 'День',
        buttonText: {
            today: 'Сегодня',
            month: 'Месяц',
            week: 'Неделя',
            day: 'День'
        },
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        // time formats
        titleFormat: {
            month: 'MMMM yyyy',
            week: "MMM d[ yyyy]{ '&#8212;'[ MMM] d yyyy}",
            day: 'dddd, MMM d, yyyy'
        },
        columnFormat: {
            month: 'ddd',
            week: 'ddd M/d',
            day: 'dddd M/d'
        },
        timeFormat: {
            '': "HH:mm{ - HH:mm}",
            agenda: 'HH:mm{ - HH:mm}'
        },
        eventSources: [{
            type: 'POST',
            url: "/task"
        },{
            type: 'POST',
            url: "/route"
        },{
            type: 'POST',
            url: "/fuel"
        }],
        dayClick: function(dayDate, allDay, ev, view) {
            $("<div/>",{id:'createEvent'}).html('Вы выбрали дату: ' + $.datepicker.formatDate('dd.mm.yy', dayDate) + ' ' + $.fn.parseTime(dayDate) + '<br /><br />Выберите что нужно создать на эту дату')
            .dialog({
                title: 'Что следует сделать?',
                resizable: false,
                height: 200,
                width: 450,
                modal: true,
                buttons: {
                    'Новая задача' : function() {
                        Core.Task('add', 'Новая задача', {'start': parseInt(dayDate.getTime() / 1000)});
                        $(this).dialog("close");
                    }/*,
                    'Новый маршрутный лист' : function() {
                        Core.Route('add', 'Новый маршутный лист', {'start': parseInt(dayDate.getTime() / 1000)});
                        $(this).dialog("close");
                    }*/
                },
                open: function() {
                    $(this).parent().find('.ui-dialog-buttonset > button > span').each(function() {
                        switch($(this).html()) {
                            case 'Новая задача':
                                $(this).parent()
                                       .removeClass('ui-button-text-only')
                                       .addClass('ui-button-text-icon-primary')
                                       .prepend('<span class="ui-button-icon-primary ui-icon ui-icon-clipboard"></span>');
                            break;

                            /*case 'Новый маршрутный лист':
                                $(this).parent()
                                       .removeClass('ui-button-text-only')
                                       .addClass('ui-button-text-icon-primary')
                                       .prepend('<span class="ui-button-icon-primary ui-icon ui-icon-suitcase"></span>');
                            break;*/
                        }
                    });
                }
            });
            //alert('Выбран день: ' + dayDate + ' и задача: ' + view.title);
        },
        loading: function(bool) {
            if (bool) Core.Loader.show();
            else Core.Loader.hide();
        }
    });
    checkUIDS(true);
    $('#who').accordion({collapsible:true,active:false}).change(function() {
        checkUIDS(true);
    });

});
</script>