<? if(Zend_Auth::getInstance()->hasIdentity()): ?>
<div class="message information">
    <span class="strong">ИНФОРМАЦИЯ!</span> Добро пожаловать в систему!<br />
    В данный момент многие пунты меню недоступны. Но вы уже можете использовать основные функции, такие как календарь, просматривая и создавая задачи, так же маршрутные листы.<br />
    В базу с клиентами загружён список ваших клиентов с их адресами, при заполнение маршрутного листа они будут высвечиватся по мере набора. Если такого клиента ещё нет в базе, то вы сможете написать своего, он будет сохранён и добавлен в базу.
</div>

<div class="message tip">
    <span class="strong">ПОДСКАЗКА!</span> Пока идёт тестирование и доработка системы при ошибках старайтесь запомнить что вы пытались сделать, полную последовательность действий. Потом она поможет понять из-за чего возникла ошибка.
</div>

<!-- notifications [begin] --
<div class="message success">
    <span class="strong">SUCCESS!</span> This is a success message.
</div>
<div class="message warning">
    <span class="strong">WARNING!</span> This is a warning message.
</div>
<div class="message error">
    <span class="strong">ERROR!</span> This is a error message.
</div>
<div class="message information">
    <span class="strong">INFORMATION!</span> This is a information message.
</div>
<div class="message tip">
    <span class="strong">TOOLTIP!</span> This is a tooltip message.
</div>
<!-- notifications [end] -->
<? else: ?>
<div id="parentlogin" class="ui-widget ui-round-all">
	<div class="message tip">
		<span class="strong">ПОДСКАЗКА!</span> Для входа в систему Вам нужно ввести свой логин и пароль! Регистр букв не имеет значение только для логина.<br />
		Перед началом ввода проверьте установленную расскладку клавиатуры (язык ввода текста).
	</div>
    <div id="loginform" class="fieldset">
        <form action="/index/login" method="POST">
            <ul class="form hii">
                <li>
					<label for="login">Логин:</label>
					<input type="text" name="login" id="login" value="">
                </li>
                <li>
					<label for="password">Пароль:</label>
					<input type="password" name="password" id="password" value="">
                </li>
                <li>
                    <button type="submit">Войти</button>
                </li>
            </ul>
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	//$("#parentlogin").css('top', 80).center({top:false});
});
</script>
<? endif; ?>
