<div class="navigation">
    <ul>
        <li><span>Страницы:</span></li>
        <?php if ($this->pageCount): ?>
        <?php foreach ($this->pagesInRange as $page): ?>
          <li><?php
          if ($page != $this->current) {
            echo '<a href="/news/page/' . $page . '">' . $page . '</a>';
          } else {
            echo $page;
          }
          if ($page < $this->last) echo '&nbsp;';
          ?></li>
        <?php endforeach; ?>
        <?php endif; ?>
    </ul>
</div>