<form action="" method="POST">

    <div class="table_top_left_tool">

        <label for="zone">Зона:</label>
        <select name="zone" id="zone">
            <?php
                foreach($this->users as $user) {
                    $city[] = $user->city;
                    echo '<option value="' . $user->id . '">[' . $user->city . '] ' . $user->group . ' ' . $user->name . '</option>';
                }
            ?>
        </select>
        <br />
        на <select name="day_week" id="day_week">
            <option value="1">Понедельник</option>
            <option value="2">Вторник</option>
            <option value="3">Среда</option>
            <option value="4">Четверг</option>
            <option value="5">Пятница</option>
            <option value="6">Суббота</option>
            <option value="7">Воскресение</option>
        </select>
    </div>

</form>
<script type="text/javascript">
$(document).ready(function() {
    Core.Init();
});
</script>
