        <tr>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][client]" value="<?=$this->escape($this->client)?>" class="client"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][mpz]" value="<?=$this->mpz?>" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][proch]" value="<?=$this->proch?>" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][sku_mpz]" value="<?=$this->sku_mpz?>" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][sku_proch]" value="<?=$this->sku_proch?>" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][address]" value="<?=$this->escape($this->address)?>" class="address"></td>
            <td class="ui-widget-content"><select name="row[<?=$this->id?>][hp]"><option value="Р"<?=(($this->hp=='Р')?' selected':'')?>>Р</option><option value="Н"<?=(($this->hp=='Н')?' selected':'')?>>Н</option></select></td>
            <td class="ui-widget-content"><input type="text" name="row[<?=$this->id?>][posom]" value="<?=$this->posom?>" class="int"></td>
            <td class="controls"><input type="hidden" name="edit[]" value="<?=$this->id?>"><a href="javascript:;" class="list_cancel" title="Удалить строку"></a></td>
        </tr>