<form action="" method="POST">

    <div class="message tip">
        <span class="strong">ПОДСКАЗКА!</span> Для того чтобы удалить маршрутный лист полностью, вы должны очистить весь список и сохранить или нажать удаление в общем списке маршрутных листов.
    </div>

    <input type="hidden" name="zone" value="<?=$this->zone;?>">
    <input type="hidden" name="day_week" value="<?=$this->day_week;?>">
    <h3><?='[' . $this->zone_name->city . '] ' . $this->zone_name->group . ' ' . $this->zone_name->name?> на <?=$this->day_week_name?></h3>
    <br />
    <table class="ui-widget" id="routetable">

        <thead>
        <tr>
            <th class="ui-widget-header">Клиент</th>
            <th class="ui-widget-header">% нац в Т.Т. МПЗ</th>
            <th class="ui-widget-header">% нац в Т.Т. проч</th>
            <th class="ui-widget-header">SKU МПЗ</th>
            <th class="ui-widget-header">SKU Прочка</th>
            <th class="ui-widget-header">Адрес</th>
            <th class="ui-widget-header">Н/Р</th>
            <th class="ui-widget-header">Posom</th>
            <th class="ui-widget-header btn_col"><img src="/core/html/images/add_remove.png"></th>
        </tr>
        </thead>
        <tbody>
        <?=$this->partialLoop('template/editrow.phtml', $this->templates);?>
        <tr style="display:none;">
            <td class="ui-widget-content"><input type="text" name="new[client][]" class="client"></td>
            <td class="ui-widget-content"><input type="text" name="new[mpz][]" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="new[proch][]" class="float"></td>
            <td class="ui-widget-content"><input type="text" name="new[sku_mpz][]" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="new[sku_proch][]" class="int"></td>
            <td class="ui-widget-content"><input type="text" name="new[address][]" class="address"></td>
            <td class="ui-widget-content"><select name="new[hp][]"><option value="Р">Р</option><option value="Н">Н</option></select></td>
            <td class="ui-widget-content"><input type="text" name="new[posom][]" class="int"></td>
            <td class="controls"><a href="javascript:;" class="list_cancel" title="Удалить строку"></a></td>
        </tr>
        </tbody>
    </table>

    <a href="javascript:;" id="list_add" class="list_add">Добавить строку</a>
</form>

<script type="text/javascript">
$(document).ready(function() {

    var client = '';

    function render(tr) {
        tr.find(".time").width(40).mask('99:99',{completed:function() { time = this.val().split(':'); if(time[0]>23) { this.val('23:'+time[1]);time[0]=23; } if(time[1]>59) { this.val(time[0]+':59');time[1]=59; }}});
        tr.find(".int").width(30).blur(function(){ var val = parseInt($(this).val()); $(this).val((isNaN(val) ? 0 : val)); });
        tr.find(".float").width(40).blur(function(){ var val = parseFloat($(this).val()); $(this).val((isNaN(val) ? 0 : val)); });

        tr.find(".list_cancel").click(function() {
            if($(this).parent().parent().parent().find('tr').length > 1) { $(this).parent().parent().fadeOut(function(){$(this).remove();}); }
        });

		tr.find(".client").width(200).autocomplete({
			minLength: 2,
            delay: 1000,
			source: function(request, response) {
				var term = request.term;
                request.method = 'POST';
				$.getJSON("/clients", request, function( data, status, xhr ) {
                        if(data.length == 0) {
                            Core.Message('Данный клиент не найден и будет добавлен в базу');
                        }
						response( data );
				});
			},
            select: function(event, ui) {
                client = ui.item.id;
            },
            change: function(event, ui) {
                if(ui.item) client = ui.item.id;
            }
		});

		tr.find(".address" ).width(200).autocomplete({
			minLength: 1,
            delay: 1000,
			source: function(request, response) {
				var term = request.term;
                request.client = client;
                request.method = 'POST';
				$.getJSON( "/address", request, function( data, status, xhr ) {
                        if(data.length == 0) {
                            Core.Message('Данный адрес не найден и будет добавлен в базу');
                        }
						response( data );
				});
			}
		}).click(function() {
            var input = $(this);
            if (input.autocomplete("widget").is(":visible")) {
                input.autocomplete( "close" );
                return;
            }
            $(this).blur();
            input.val();
            input.autocomplete("search", " ");
            input.focus();
        });

    }

    $('#templateform').dialog('option', {
        buttons: {
            "Отмена" : function() {
                $(this).dialog('close');
            },
            "Сохранить" : function() {
                $.post('/template/save', $('#templateform > form').serialize(), function(data) {
                    if(data.success) {
                        $("#templateform").html(data.result).dialog('option',{buttons:{}});
                    } else {
                        $("#templateform > form").prepend(data.result);
                        $(".message").bind('click',function(){$(this).fadeOut(function(){$(this).remove();});return false});
                    }
                });
            }
        }
    });

    $("#list_add").click(function() {
        var tbody = $(this).parent().find('#routetable tbody');
        render(tbody.find('tr:hidden').clone().appendTo(tbody.last()).fadeIn());
    });
    $('#routetable tbody tr').each(function(){render($(this));});
    Core.Init();
});
</script>
