<button id="template_add">Создать новый шаблон</button>

    <table id="templatetable" class="tablealt ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header">
            <th class="ui-widget-header">День недели</th>
            <th class="ui-widget-header">Зона</th>
            <th class="ui-widget-header">Заданий</th>
            <th class="ui-widget-header btn_col"><img src="/core/html/images/add_remove.png"></th>
        </tr>
        </thead>
        <tbody>
        <?=$this->partialLoop('template/row.phtml', $this->items); ?>
        </tbody>
    </table>

<script type="text/javascript">
$(document).ready(function() {
    $("#templatetable tbody tr").css('cursor', 'pointer').click(function() {
        var params = $(this).attr('id').split('-'); Core.Template('edit', 'Редактирование маршрутного листа', {day_week: params[0], zone: params[1]});
    });
    $("#template_add").button({icons:{primary:'ui-icon-plus'}}).click(function() {
        Core.Template('add', 'Создание маршрутного листа', {});
        $('#templateform').dialog('option', {
            width: 500,
            height: 300,
            buttons: {
                'Далее' : function() {
                    Core.Template('edit', 'Создание маршрутного листа', {day_week: $('#day_week').val(), zone: $('#zone').val()});
                    $(this).dialog("close");
                }
            }
        });
    });
    Core.Init();
});
</script>
