<? $date = new Zend_Date((int)$this->day_week, Zend_Date::WEEKDAY_DIGIT); ?>
        <tr class="ui-widget ui-corner-all" id="<?=$this->day_week . '-' . $this->zone?>">
            <td class="ui-widget-content"><?=$date->get(Zend_Date::WEEKDAY);?></td>
            <td class="ui-widget-content"><?='[' . $this->city . '] ' . $this->name?></td>
            <td class="ui-widget-content"><?=$this->count?></td>
            <td class="controls"><!--a href="javascript:;" class="list_cancel" title="Удалить"></a--></td>
        </tr>