<div class="info">
    <h2>Доступ запрещён</h2>
    <div><?php echo $this->message ?><br /><br />Если ваша сессия закончилась <a href="<?=$this->url(array(), null, true);?>">авторизуйтесь повторно</a>.</div>
</div>

<?php if (isset($this->exception)): ?>
<div class="error">
    <h3>Exception information:</h3>
    <p>
        <b>Message:</b> <?php echo $this->exception->getMessage() ?>
    </p>

    <h3>Stack trace:</h3>
    <pre><?php echo $this->exception->getTraceAsString() ?>
  </pre>

    <h3>Request Parameters:</h3>
    <pre><?php echo var_export($this->request->getParams(), true) ?>
  </pre>
  <br />
</div>
<?php endif ?>