<img src="/core/images/under.png" align="left">
<br />
<p>

    <h1 class="red">Произошла ошибка</h1>
    <br />
    <h2 class="red"><?php echo $this->message ?></h2>
    <br /><br />

<?php if (isset($this->exception)): ?>

    <h3>Exception information:</h3>
    <p>
        <b>Message:</b> <?php echo $this->exception->getMessage() ?>
    </p>

    <h3>Stack trace:</h3>
    <pre><?php echo $this->exception->getTraceAsString() ?>
  </pre>

    <h3>Request Parameters:</h3>
    <pre><?php echo var_export($this->request->getParams(), true) ?>
  </pre>
  <br />
<?php endif ?>
    <em>Попробуйте повторить запрос, если ошибка повторится снова, то сообщите о данной проблеме администратору.</em>
</p>