    <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
    if ($flashMessenger->setNamespace('result')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): echo $msg; endforeach; ?>
    <?php endif; ?>
    <div class="message tip">
        <span class="strong">ПОДСКАЗКА!</span> Если не указывать дату, то будет автоматически выставлена <?=date('d.m.Y')?>.
    </div>
    <form action="/monitoring/index" method="POST" enctype="multipart/form-data">
        <label for="date">Дата:</label><input type="text" name="date" id="date" value="" size="8"> <input type="file" name="file"> <input type="submit" name="upload" value="Загрузить и обработать">
    </form>
    <br />
    <?php if(Zend_Auth::getInstance()->getIdentity()->group_id < 3): ?>
    <div class="message tip">
        <span class="strong">ПОДСКАЗКА!</span> Мониторинг создаётся в виде задачи и имеет все её функции отслеживания выполнения.
    </div>
    <form action="/task/addmonitoring" method="POST">
        <label for="date">Дата:</label><input type="text" name="date" id="mdate" value="<?=date('Y-m-d')?>" size="8"> <input type="submit" value="Задать мониторинг">
    </form>
    <br />
    <?php endif; ?>

<script type="text/javascript">
$(document).ready(function() {
    $('input[type=submit]').button();
    $('input[type=submit]:last').click(function(){ $(this).hide(); });
    $('#date,#mdate').datepicker({ dateFormat: 'yy-mm-dd' });
    Core.Init();
});
</script>
