        <tr class="ui-widget ui-corner-all">
            <td class="ui-widget-content"><?=$this->name?></td>
            <td class="ui-widget-content"><?=$this->title?></td>
            <td class="ui-widget-content"><?=$this->size?></td>
            <td class="ui-widget-content"><?=$this->date?></td>
            <td class="ui-widget-content"><a href="/files/get/id/<?=$this->filename?>"><img src="/core/images/icons/disk.png" alt="Скачать"></a></td>
        </tr>