<?php echo $this->doctype() ?>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta() ?>

<?php echo $this->headTitle() ?>

<?php echo $this->headLink() ?>

<?php echo $this->headScript() ?>

<?php echo $this->headStyle() ?>

<link href="/core/html/css/style.css" rel="stylesheet" type="text/css" />
<!-- color style -->
<link href="/core/html/css/silver.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<link href="/core/html/css/silver_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<script type='text/javascript' src='/core/js/png_fix.js'></script>
<script type='text/javascript'>
  DD_belatedPNG.fix('img, .selected');
</script>
<![endif]-->
</head>
<body id="homepage">

    <div id="globalmask"></div><div id="preloader">Ожидайте...</div>
    <div class="favicon"></div>
    <!-- Top Breadcrumb Start -->
    <div id="breadcrumb">
    	<ul>
        	<li><img src="/core/images/icon_breadcrumb.png" alt="Положение"></li>
            <li class="current"><?= strip_tags($this->headTitle()) ?></li>
        </ul>
    </div>
    <!-- Top Breadcrumb End -->

    <!-- Right Side/Main Content Start -->
    <div id="rightside">

        <!-- Content Box Start -->
        <div class="contentcontainer">
            <?php echo $this->layout()->content ?>
        </div>
        <!-- Content Box End -->


    </div>
    <!-- Right Side/Main Content End -->

        <!-- Left Dark Bar Start -->
    <div id="leftside">

    	<div class="user">
        	<img src="/core/images/avatar.png" class="hoverimg" alt="Avatar" height="44" width="44">
            <p>Здравствуйте,</p>
            <p class="username">Гость</p>
        </div>

    </div>
    <!-- Left Dark Bar End -->

<script type="text/javascript">
$(document).ready(function() {
    Core.Init();
    <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
    if ($flashMessenger->setNamespace('error')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
                Core.Message('<?=$msg?>');
        <?php endforeach; ?>
    <?php endif; ?>
});
</script>
</body>
</html>
