<?php echo $this->doctype() ?>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta() ?>

<?php echo $this->headTitle() ?>

<?php echo $this->headLink() ?>

<?php echo $this->headStyle() ?>

<link href="/core/html/css/style.css" rel="stylesheet" type="text/css" />
<!-- color style -->
<link href="/core/html/css/silver.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 6]>
<link href="/core/html/css/silver_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<script type='text/javascript' src='/core/js/png_fix.js'></script>
<script type='text/javascript'>
  DD_belatedPNG.fix('img, .notifycount, .selected');
</script>
<![endif]-->
</head>
<?php
    function getMenu($names) {
        $c = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
        if(in_array($c, $names)) return 'red';
        return '';
    }
?>
<body id="homepage">
    <div id="globalmask"></div><div id="preloader">Ожидайте...</div>
    <div class="favicon"></div>
    <!-- Top Breadcrumb Start -->
    <div id="breadcrumb">
    	<ul>
        	<li><img src="/core/images/icon_breadcrumb.png" alt="Положение"></li>
            <li class="current"><?= strip_tags($this->headTitle()) ?></li>
            <li class="btnusers">Пользователи</li>
        </ul>
        <div id="chatusers" class="chatusers"><ul></ul></div>
    </div>
    <!-- Top Breadcrumb End -->

    <!-- Right Side/Main Content Start -->
    <div id="rightside">

        <!-- Content Box Start -->
        <div class="contentcontainer">
            <?php echo $this->layout()->content ?>
        </div>
        <!-- Content Box End -->


    </div>
    <!-- Right Side/Main Content End -->

        <!-- Left Dark Bar Start -->
    <div id="leftside">

    	<div class="user">
        	<img src="/core/images/avatar.png" class="hoverimg" alt="Avatar" height="44" width="44">
            <p>Здравствуйте,</p>
            <p class="username"><?= Zend_Auth::getInstance()->getIdentity()->name;?></p>
            <p class="userbtn"><a href="/index/logout" title="" style="line-height:18px;width:105px;">Выйти</a></p>
        </div>

        <div id="notifypanel" class="notifications" style="display:none;">
        	<p class="notifycount">0</p>
            <p>Уведомление</p>
            <p class="smltxt">о новых событиях</p>
        </div>

        <ul id="nav">
        	<li>
                <ul class="navigation">
                    <li class="hover"><a href="#calendar">Календарь</a></li>
                    <? if(Zend_Auth::getInstance()->getIdentity()->group_id < 3): ?>
                    <li class="hover"><a href="#template">Маршуртные листы</a></li>
                    <li class="hover"><a href="#reports">Отчёты</a></li>
                    <? endif; ?>
                    <li class="hover"><a href="#monitoring">Мониторинг</a></li>
                    <li class="hover"><a href="#files">Файлы</a></li>
                    <? if(Zend_Auth::getInstance()->getIdentity()->group_id == 1): ?>
                    <li class="hover"><a href="#logs">Лог входа в систему</a></li>
                    <? endif; ?>
                    <!--li class="hover"><a href="#chat">Чат</a></li-->
                    <li class="hover"><a href="#notify">Уведомления</a></li>
                </ul>
            </li>
            <li>
                <div id="chatpanel" class="chat smltxt">

                </div>
                <input type="text" name="chatmsg" id="chatmsg"><input type="button" id="chatsubmit" class="btnalt" value="Ок">
            </li>
            <!--li>
                <a class="collapsed heading">Категория 1</a>
                 <ul class="navigation">
                    <li><a href="#" title="">Меню 1</a></li>
                    <li><a href="#" title="">Меню 2</a></li>
                    <li><a href="#" title="">Меню 3</a></li>
                </ul>
            </li-->
        </ul>

    </div>
    <!-- Left Dark Bar End -->

<?php echo $this->headScript() ?>

<script type="text/javascript">
$(document).ready(function() {
    Core.Menu();
    Core.PollNotify();
    Core.PollChat();
    Core.PollOnline();
    Core.Init();
    $('li.btnusers').button({icons: { primary: "ui-icon-triangle-1-w" }}).click(function(){
        $('#chatusers').clearQueue().animate({right: '0px'}).stop(false, true).delay(1000).animate({right: '-500px'});
    });
    $("#chatmsg").keypress(function(event) {
        if(event.which == 13) {
            event.preventDefault();
            if($('#chatmsg').val().length > 0) {
                $.post('/chat/send', {msg: $('#chatmsg').val()}, function() {
                    $('#chatmsg').val('');
                    Core.PollChat();
                });
            }
        }
    });
    $('#chatsubmit').click(function(){
        if($('#chatmsg').val().length > 0) {
            $.post('/chat/send', {msg: $('#chatmsg').val()}, function() {
                $('#chatmsg').val('');
                Core.PollChat();
            });
        }
    });
    $('#chatusers').hover(function() {
        $('#chatusers').clearQueue().animate({right: '0px'});
    }, function() {
        $('#chatusers').stop(false, true).delay(1000).animate({right: '-500px'});
    });
    <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
    if ($flashMessenger->setNamespace('error')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
                Core.Message('<?=$msg?>');
        <?php endforeach; ?>
    <?php endif; ?>
});
</script>
</body>
</html>
