    <table id="reportstable" class="tablealt ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header">
            <th colspan="5" class="ui-widget-header">Отчет по среднему пробегу за период: <?=$this->start . ' - ' . $this->end?></th>
        </tr>
        <tr class="ui-widget-header">
            <th class="ui-widget-header" rowspan="2">Зона</th>
            <th class="ui-widget-header" colspan="2">Среднее время</th>
            <th class="ui-widget-header" colspan="2">Средний пробег</th>
        </tr>
        <tr class="ui-widget-header">
            <th class="ui-widget-header">Начало дня</th>
            <th class="ui-widget-header">Конец дня</th>
            <th class="ui-widget-header">Месяц</th>
            <th class="ui-widget-header">День</th>
        </tr>
        </thead>
        <tbody>
        <?=$this->partialLoop('reports/fuelrow.phtml', $this->items); ?>
        </tbody>
    </table>