        <tr class="ui-widget ui-corner-all">
            <td class="ui-widget-content"><?=$this->zone?></td>
            <td class="ui-widget-content"><?=$this->starttime?></td>
            <td class="ui-widget-content"><?=$this->endtime?></td>
            <td class="ui-widget-content"><?=$this->month?> км.</td>
            <td class="ui-widget-content"><?=$this->day?> км.</td>
        </tr>