    <table id="reportstable" class="tablealt ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header">
            <th class="ui-widget-header" style="width:250px">Клиент</th>
            <th class="ui-widget-header">Адрес</th>
            <th class="ui-widget-header" style="width:45px">Кол-во</th>
            <th class="ui-widget-header" style="width:40px">Мпз</th>
            <th class="ui-widget-header" style="width:40px">Прочка</th>
            <th class="ui-widget-header" style="width:40px">Зона</th>
        </tr>
        </thead>
        <tbody>
        <?=$this->partialLoop('reports/row.phtml', $this->items); ?>
        </tbody>
    </table>