    <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
    if ($flashMessenger->setNamespace('result')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): echo $msg; endforeach; ?>
    <?php endif; ?>
    <?=$this->formReports?>
    <?=$this->formMonitoring?>
    <?=$this->formFuel?>
    <br />

<script type="text/javascript">
$(document).ready(function() {
    Core.Init();
    $('#datefrom,#dateto,#mdatefrom,#mdateto,#fdatefrom,#fdateto').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#pdf,#preview,#msubmit,#fsubmit').button().css('line-height', 1.4);
    $('#preview').click(function() {
        $.post('/reports/html', $('#reportform').serialize(), function(data) {
            $("<div/>",{id:'reportHTML'}).html(data)
            .dialog({
                title: 'Предпросмотр',
                resizable: false,
                height: 500,
                width: 800,
                modal: true
            });
        });
    });
    $('#fsubmit').click(function(){
        $.post('/reports/fuel', $('#fuelform').serialize(), function(data) {
            $("<div/>",{id:'fuelHTML'}).html(data)
                .dialog({
                    title: 'Отчёт',
                    resizable: false,
                    height: 500,
                    width: 800,
                    modal: true
                });
        });
    });
});
</script>
