        <tr class="ui-widget ui-corner-all">
            <td class="ui-widget-content"><?=$this->client?></td>
            <td class="ui-widget-content"><?=$this->address?></td>
            <td class="ui-widget-content"><?=$this->count?></td>
            <td class="ui-widget-content"><?=$this->mpz?>%</td>
            <td class="ui-widget-content"><?=$this->prochka?>%</td>
            <td class="ui-widget-content"><?=$this->zone?></td>
        </tr>