        <tr class="ui-widget ui-corner-all">
            <td class="ui-widget-content"><?=$this->name?></td>
            <td class="ui-widget-content"><?=$this->title?></td>
            <td class="ui-widget-content"><?=$this->size?></td>
            <td class="ui-widget-content"><?=$this->date?></td>
            <td class="ui-widget-content"><a href="/files/get/id/<?=$this->filename?>"><img src="/core/images/icons/disk.png" alt="Скачать"></a></td>
            <td class="ui-widget-content" style="text-align:center"><img src="/core/images/icons/cross.png" alt="Удалить" style="cursor:pointer" data-url="/files/delete/id/<?=$this->filename?>" class="delete"></td>
        </tr>