    <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
    if ($flashMessenger->setNamespace('result')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): echo $msg; endforeach; ?>
    <?php endif; ?>
    <form action="/files/index" method="POST" enctype="multipart/form-data">
        <div style="width:350px" class="ui-widget-content ui-corner-all"><label class="v newsitem">Доступ:</label>
            <div style="width:345px;height:150px;overflow:auto;border-bottom:1px solid #aaa;" id="userslist">
                <?php
                    $city = array();
                    foreach($this->users as $user) {
                        $city[] = $user->city;
                        echo '<input type="checkbox" name="users[]" city="' . $user->city . '" value="' . $user->id . '" id="user' . $user->id . '"><label for="user' . $user->id . '">[' . $user->city . '] ' . $user->group . ' ' . $user->name . '</label><br />';
                    }
                    $city = array_unique($city);
                ?>
            </div>
            <div style="width:282px;" id="groups">
                <a href='javascript:;' rel='Всем'>Всем</a>
            <?php
                foreach($city as $c) {
                    echo "<a href='javascript:;' rel='" . $c . "'>" . $c . "</a> ";
                }
            ?>
            </div>
        </div>
        <label for="title">Название файла:</label> <input type="text" id="title" name="title" value="" style="width:250px" placeholder="Название файла"><br />
        <input type="file" name="file"> <input type="submit" name="upload" value="Загрузить файл">
    </form>
    <br />
    <table id="notifytable" class="tablealt ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header">
            <th class="ui-widget-header">Владелец</th>
            <th class="ui-widget-header">Описание</th>
            <th class="ui-widget-header">Размер</th>
            <th class="ui-widget-header">Загружен</th>
            <th class="ui-widget-header" style="width:25px;">&nbsp;</th>
            <?php if(Zend_Auth::getInstance()->getIdentity()->group_id < 3): ?>
            <th class="ui-widget-header" style="width:25px;">&nbsp;</th>
            <?php endif; ?>
        </tr>
        </thead>
        <tbody>
        <?php if(Zend_Auth::getInstance()->getIdentity()->group_id < 3) {
                echo $this->partialLoop('files/arow.phtml', $this->items);
            } else {
                echo $this->partialLoop('files/row.phtml', $this->items);
            }
        ?>
        </tbody>
    </table>

<script type="text/javascript">
$(document).ready(function() {
    $('input[name=upload]').button();
    $('#groups a').click(function(){
        city = $(this).attr('rel');
        if(city == 'Всем') {
            var c = $('#userslist input:checkbox');
            c.attr('checked', !c.attr('checked'));
        } else {
            $('#userslist input:checkbox').each(function(){
                $(this).attr('checked', ($(this).attr('city') == city));
            });
        }
    });
    Core.Init();
    $('img.delete').click(function() {
        var link = $(this).data('url');
        $('<div/>').html('Вы собираетесь удалить файл, отмена данного действия будет невозможна!')
        .dialog({
            resizable: false,
            height: 140,
            modal: true,
            title: 'Подтверждение удаления файла',
            buttons: {
                "Удалить": function() {
                    $.get(link, {}, function() {
                        document.location.reload(true);
                    });
                },
                "Отмена": function() {
                    $(this).dialog("close");
                }
            }
        });
    });
});
</script>
