<form action="" method="POST">
    <fieldset>
        <ul class="form vvv">
            <li class="iii">
                <div class="message tip"><span>ПОДСКАЗКА</span> Ваш пробег должен быть отмечен 2 раза на начало и конец дня</div>
            </li>
            <?php if(!empty($this->fuel->start)): ?>
            <li class="ui-widget-content ui-corner-all">
                <p class="bottominfo"><?=$this->escape($this->fuel->starttime);?> Вы отметили <b><?=$this->escape($this->fuel->start);?> км.</b></p>
            </li>
            <?php endif; ?>

            <li style="height:50px;" class="ui-widget-content ui-corner-all"><label class="v newsitem" for="fuelInput">Ваш текущей пробег:</label>
                <p style="padding:5px;text-align:left;line-height:20px;float:none;">На данный момент составляет <input type="text" size="8" name="fuel" id="fuelInput" value="" style="float:none;display:inline;"> км.</p>
            </li>
        </ul>
    </fieldset>
</form>
<script type="text/javascript">
$(document).ready(function() {
    $('#fuelform').dialog('option', {
                buttons: {
                    "Отмена" : function() {
                        $(this).dialog('close');
                    },
                    "Сохранить" : function() {
                        $.post('/fuel/add', {id: <?=(empty($this->fuel->id) ? 0 : $this->fuel->id)?>, fuel: $('#fuelInput').val() }, function(data) {
                            if(data.success) {
                                $("#fuelform").html(data.result).dialog('option',{buttons:{}});
                                $('#calendar').fullCalendar('refetchEvents');
                            } else {
                                $("#fuelform > form").prepend(data.result);
                                $(".message").bind('click',function(){$(this).fadeOut(function(){$(this).remove();});return false});
                            }
                        });
                    }
                },
                open: function() {
                    $('.ui-dialog-buttonpane button span').each(function() {
                        var html = $(this).html();
                        switch(html) {
                            case "Сохранить":
                                $(this).parent()
                                       .removeClass("ui-button-text-only")
                                       .addClass("ui-button-text-icon-primary")
                                       .prepend('<span class="ui-button-icon-primary ui-icon ui-icon-check"></span>');
                            break;
                        }
                    });
                }
            }
    );
    Core.Init();
});
</script>