/**************************
General Class
**************************/
a{color: #21759b;}
a:hover{color: #ff0000}


/**************************
Admin Box Style
**************************/
.admin_box_header {background:url(../images/box_top_right_b.png) right top no-repeat}
.box_header_left {background:url(../images/box_top_left_b.png) top left no-repeat}

.content_box{border-left:1px solid #588ce2; border-right:1px solid #588ce2;}

.admin_box_bottom {background:url(../images/box_bottom_right_b.png) top right no-repeat}
.box_bottom_left {background:url(../images/box_bottom_left_b.png) top left no-repeat}


/**************************
tabs class
**************************/
.header_tabs a span.tab{background:url(../images/tab_left_b.png); color:#fff}
.header_tabs a span.tab_right{background:url(../images/tab_right_b.png)}
.header_tabs a:hover span.tab , .header_tabs a.current span.tab
{background:url(../images/tab_left_current_b.png); color:#333333}
.header_tabs a:hover span.tab_right , .header_tabs a.current span.tab_right
{background:url(../images/tab_right_current_b.png)}


/**************************
table class
**************************/
.common_table thead tr th{background:#EEFCFF;}


/**************************
page no. class
**************************/
.page_area .current {background:#036A9C; color:#fff}


/**************************
search class
**************************/
.searchbox {background: url(../images/search_b.gif) no-repeat;}