/**************************
General Class
**************************/
a{color:#090;}
a:hover{color: #ff0000}


/**************************
Admin Box Style
**************************/
.admin_box_header {background:url(../images/box_top_right_g.png) right top no-repeat}
.box_header_left {background:url(../images/box_top_left_g.png) top left no-repeat}

.content_box{border-left:1px solid #389102; border-right:1px solid #389102;}

.admin_box_bottom {background:url(../images/box_bottom_right_g.png) top right no-repeat}
.box_bottom_left {background:url(../images/box_bottom_left_g.png) top left no-repeat}


/**************************
tabs class
**************************/
.header_tabs a span.tab{background:url(../images/tab_left_g.png); color:#fff}
.header_tabs a span.tab_right{background:url(../images/tab_right_g.png)}
.header_tabs a:hover span.tab , .header_tabs a.current span.tab
{background:url(../images/tab_left_current_g.png); color:#333333}
.header_tabs a:hover span.tab_right , .header_tabs a.current span.tab_right
{background:url(../images/tab_right_current_g.png)}


/**************************
table class
**************************/
.common_table thead tr th{background:#F2FFE6;}


/**************************
page no. class
**************************/
.page_area .current {background:#64AE00; color:#fff}


/**************************
search class
**************************/
.searchbox {background: url(../images/search_g.gif) no-repeat;}