/**************************
General Class
**************************/
a{color: #a80000;}
a:hover{color: #ff0000}


/**************************
Admin Box Style
**************************/
.admin_box_header {background:url(../images/box_top_right_r.png) right top no-repeat}
.box_header_left {background:url(../images/box_top_left_r.png) top left no-repeat}

.content_box{border-left:1px solid #af6351; border-right:1px solid #af6351;}

.admin_box_bottom {background:url(../images/box_bottom_right_r.png) top right no-repeat}
.box_bottom_left {background:url(../images/box_bottom_left_r.png) top left no-repeat}


/**************************
tabs class
**************************/
.header_tabs a span.tab{background:url(../images/tab_left_r.png); color:#fff}
.header_tabs a span.tab_right{background:url(../images/tab_right_r.png)}
.header_tabs a:hover span.tab , .header_tabs a.current span.tab
{background:url(../images/tab_left_current_r.png); color:#333333}
.header_tabs a:hover span.tab_right , .header_tabs a.current span.tab_right
{background:url(../images/tab_right_current_r.png)}


/**************************
table class
**************************/
.common_table thead tr th{background:#FCF1F1;}


/**************************
page no. class
**************************/
.page_area .current {background:#A80000; color:#fff}


/**************************
search class
**************************/
.searchbox {background: url(../images/search_r.gif) no-repeat;}