/**************************
Admin Box Style
**************************/
.admin_box_header {background:url(../images/gif/box_top_right_s.gif) top right no-repeat}
.box_header_left {background:url(../images/gif/box_top_left_s.gif) top left no-repeat}


.admin_box_bottom {background:#ffffff; border:1px solid #cbcbcb; border-top:0}
.box_bottom_left {background:#ffffff}


/**************************
submit btn class
**************************/
.header_tabs a span.tab{background:url(../images/gif/tab_left_s.gif); color:#fff}
.header_tabs a span.tab_right{background:url(../images/gif/tab_right_s.gif)}
.header_tabs a:hover span.tab , .header_tabs a.current span.tab
{background:url(../images/gif/tab_left_current_s.gif);}
.header_tabs a:hover span.tab_right , .header_tabs a.current span.tab_right
{background:url(../images/gif/tab_right_current_s.gif)}



/**************************
search class
**************************/
.searchbox {padding-bottom:0px; /* ie 6 */}


.table_bottom_right_tool {padding-bottom:8px}
.table_top_left_tool {padding-bottom:15px}
.table_top_right_tool {padding-bottom:15px}