/**************************
General Class
**************************/
a { color: #21759b }
a:hover { color: #ff0000 }
/**************************
Admin Box Style
**************************/
.admin_box_header { background: url(../images/box_top_right_s.png) top right no-repeat }
.box_header_left { background: url(../images/box_top_left_s.png) top left no-repeat }
.content_box {
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
}
.admin_box_bottom { background: url(../images/box_bottom_right_s.png) top right no-repeat }
.box_bottom_left { background: url(../images/box_bottom_left_s.png) top left no-repeat }
/**************************
table class
**************************/
.common_table thead tr th { background: #ececec }
a.list_cancel { background-image: url(../images/gif/addcancel.gif) }
a.list_add { background-image: url(../images/gif/addcancel.gif) }
/**************************
submit btn class
**************************/
.header_tabs a span.tab {
    background: url(../images/tab_left_s.png);
    color: #fff;
}
.header_tabs a span.tab_right { background: url(../images/tab_right_s.png) }
.header_tabs a:hover span.tab,
.header_tabs a.current span.tab {
    background: url(../images/tab_left_current_s.png);
    color: #333333;
}
.header_tabs a:hover span.tab_right,
.header_tabs a.current span.tab_right { background: url(../images/tab_right_current_s.png) }
/**************************
page no. class
**************************/
.page_area .current { background: #f3f3f3 }
/**************************
search class
**************************/
.searchbox { background: url(../images/search_s.gif) no-repeat }