@charset "utf-8";
.admin_box_header {
    height : 32px;
    padding-right : 6px;
}
.box_header_left {
    width : 100%;
    height : 32px;
}
.content_box { background : #fff }
.content { padding : 20px 20px 14px 20px }
.admin_box_bottom {
    padding-right : 6px;
    height : 6px;
    overflow : hidden;
}
.box_bottom_left { height : 6px }
.header_tabs { padding : 7px 0 0 15px }
.header_tabs a {
    padding-right : 6px;
    float : left;
    cursor : pointer;
}
.header_tabs a span.tab {
    float : left;
    height : 25px;
    padding : 0 10px 0 15px;
    line-height : 25px;
    color : #fff;
}
.header_tabs a span.tab_right {
    float : left;
    height : 25px;
    width : 5px;
    display : block;
}
.common_table tr td {
    border-bottom : 1px solid #cbcbcb;
    vertical-align : top;
    line-height : 1.4em;
}
.common_table tr.no_border td { border-bottom : 1px solid #ffffff }
.common_table tr.alt_row td { background-color : #e3e3e3 }
.btn_col { width : 32px }
.num_col { width : 40px }
.code_col { width : 120px }
.data_col { width : 12% }
.short_col { width : 80px }
.table_top_left_tool { float : left }
.table_top_right_tool { float : right }
.table_bottom_left_tool {
    float : left;
    padding-top : 15px;
}
.table_bottom_right_tool {
    float : right;
    padding-top : 15px;
}
a.sort_asc {
    background : url(../images/sort.gif) 100% 2px no-repeat;
    padding-right : 13px;
}
a:hover.sort_asc { background : url(../images/sort.gif) 100% -17px no-repeat }
a.sort_dec {
    background : url(../images/sort.gif) 100% -55px no-repeat;
    padding-right : 13px;
}
a:hover.sort_dec { background : url(../images/sort.gif) 100% -36px no-repeat }
a.list_cancel {
    background : url(../images/addcancel.png) 4px -28px no-repeat;
    padding-left : 20px;
    height : 15px;
    display : block;
}
a:hover.list_cancel { background-position : 4px 0% }
a.list_add {
    float : left;
    background : url(../images/addcancel.png) 4px -56px no-repeat;
    display : block;
    padding-left : 22px;
    margin-top : 10px;
    height : 15px;
}
a:hover.list_add { background-position : 4px -84px }
input,
select {
    padding : 2px;
    border : 1px solid #cccccc;
}
input[type="checkbox"],
input.action {
    border : 0;
    padding : 0;
}
input { line-height : 1em }
select option {
    padding-top : 2px;
    line-height : 1.6em;
}
input.long { width : 95% }
.action_btn {
    text-align : center;
    margin : 0 auto;
}
input.action_btn {
    margin : 20px 5px 0 5px;
    color : #ffffff;
    width : 80px;
    cursor : pointer;
    border : 2px solid;
    padding : 3px 0;
}
input.submit {
    background : #323232;
    border-color : #2f2f2f;
}
input:hover.submit {
    background : #888;
    border-color : #999;
}
input.cancel {
    background : #aaa;
    border-color : #afafaf;
}
input:hover.cancel {
    background : #888;
    border-color : #999;
}
.page_area { display : block }
.page_area a,
.page_area span {
    padding : 5px;
    margin-left : 6px;
    border : 1px solid #d9d9d9;
}
.page_area span.dot {
    border : 0;
    margin : 0;
    padding : 10px 0 0 0;
}
.searchbox {
    width : 209px;
    height : 17px;
    display : block;
    float : left;
    padding : 2px 0 2px 2px;
    border : 1px solid #cbcbcb;
    margin-bottom : 10px;
}
.searchbox .textfield {
    background : none;
    border : 0;
    width : 185px;
    float : left;
    margin-right : 2px;
    padding-left : 2px;
}
.searchbox .button {
    background : none;
    border : 0;
    width : 18px;
    height : 18px;
    cursor : pointer;
    float : left;
    margin-top : 1px;
}