<form action="" method="POST">
    <div class="message tip">
        <span class="strong">ПОДСКАЗКА!</span> Данный маршрутный лист создан на прошедшую дату и доступен только для просмотра и экспорта.
    </div>
    <table id="routetable" class="tablealt ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header">
            <th class="ui-widget-header">#</th>
            <th class="ui-widget-header">Клиент</th>
            <th class="ui-widget-header">% нац в Т.Т. МПЗ</th>
            <th class="ui-widget-header">% нац в Т.Т. проч</th>
            <th class="ui-widget-header">SKU МПЗ</th>
            <th class="ui-widget-header">SKU Прочка</th>
            <th class="ui-widget-header">Адрес</th>
            <th class="ui-widget-header">Время</th>
            <th class="ui-widget-header">Н/Р</th>
            <th class="ui-widget-header">Posom</th>
            <th class="ui-widget-header">Результат посещения</th>
            <th class="ui-widget-header">Примечание</th>
        </tr>
        </thead>
        <tfoot>
            <tr class="ui-widget-header">
                <td colspan="12" class="a-right">
                    <img src="/core/images/icons/document-pdf-text.png" alt="Сохранить в PDF" title="Сохранить в PDF" class="ui-button ui-corner-all">
                </td>
            </tr>
        </tfoot>
        <tbody>
        <?=$this->partialLoop('route/row.phtml', $this->routes);?>
        </tbody>
    </table>

</form>
<script type="text/javascript">
$(document).ready(function() {
    Core.Init();
});
</script>